.search-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.pag-buttons {
  margin-top: 3rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
}
