<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row-wrapper">
    <div class="search-container">
      <a [routerLink]="['/']"
        ><img class="youtube-logo" src="../../../../assets/y-logo.png" alt="youtube-logo"
      /></a>
      <mat-form-field class="search-field">
        <input
          (input)="performSearch(searchInput.value)"
          #searchInput
          class="search-input"
          matInput
          type="text"
          placeholder="Enter your search request here" />
      </mat-form-field>
      <button (click)="changeFiltersState()" mat-fab color="warn">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="auth-button">
      <div class="login-status">Login status: {{loginService.loginStatus$ | async}}</div>
      <button
        *ngIf="!loginService.isUserLoggedIn()"
        (click)="loginUser()"
        class="login-button"
        mat-fab
        color="warn">
        <mat-icon>person</mat-icon>
      </button>
      <button
        *ngIf="loginService.isUserLoggedIn()"
        (click)="logoutUser()"
        class="login-button"
        mat-fab
        color="warn">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-filters *ngIf="filtersState"></app-filters>
