<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row-wrapper">
    <div class="search-container">
      <a routerLink="/"
        ><img class="youtube-logo" src="../../../../assets/y-logo.png" alt="youtube-logo"
      /></a>
      <mat-form-field class="search-field">
        <input
          #searchInput
          class="search-input"
          matInput
          type="text"
          placeholder="Enter your search request here" />
      </mat-form-field>
      <button
        (click)="performSearch(searchInput.value)"
        class="search-button"
        mat-raised-button
        color="warn">
        Search
      </button>
      <button (click)="changeFiltersState()" mat-fab color="warn">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <button class="login-button" mat-fab color="warn">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-filters *ngIf="filtersState"></app-filters>
