.toolbar-row-wrapper {
  display: flex;
  min-height: 10rem;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.search-field {
  min-width: 50rem;
  margin-top: 2rem;
}

.search-button {
  height: 5.5rem;
  width: 25rem;
  font-size: 2.5rem;
}

.login-button {
  display: block;
  margin-left: auto;
}

.youtube-logo {
  width: 80px;
}

.auth-button {
  display: flex;
  gap: 1rem;
}

.login-status {
  display: flex;
  align-items: center;
}

