<div class="item" *ngIf="searchItem | async as item">
  <button [routerLink]="['/']" appColoredBorder class="button-back">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <img class="item-image" [src]="item.snippet.thumbnails.high.url" height="475" alt="item-image" />
  <div class="item-information">
    <div class="item-header">
      <h2 class="item-title">{{item.snippet.title}}</h2>
      <div>{{item.snippet.publishedAt | date: 'medium'}}</div>
    </div>
    <div class="item-description">{{truncateItemDescription(item.snippet.description)}}</div>
    <div class="item-statistics">
      <span>
        <mat-icon>remove_red_eye</mat-icon>
        {{item.statistics?.viewCount}}
      </span>
      <span>
        <mat-icon>thumb_up</mat-icon>
        {{item.statistics?.likeCount}}
      </span>
      <span>
        <mat-icon>comment</mat-icon>
        {{item.statistics?.commentCount}}
      </span>
    </div>
    <div class="item-border" [appColoredBorder]="item.snippet.publishedAt"></div>
  </div>
</div>
