<mat-card class="item" *ngIf="searchItem">
  <img
    mat-card-image
    class="item-image"
    [src]="searchItem.snippet.thumbnails.medium.url"
    alt="youtube-item-image" />
  <mat-card-content class="item-content">
    <h2 class="item-title">{{truncateItemTitle(searchItem.snippet.title)}}</h2>
    <div class="item-statistics">
      <span>
        <mat-icon>remove_red_eye</mat-icon>
        {{searchItem.statistics?.viewCount}}
      </span>
      <span>
        <mat-icon>thumb_up</mat-icon>
        {{searchItem.statistics?.likeCount}}
      </span>
      <span>
        <mat-icon>comment</mat-icon>
        {{searchItem.statistics?.commentCount}}
      </span>
    </div>
  </mat-card-content>
  <div class="buttons">
    <button
      (click)="openDetailedInformation(searchItem.id)"
      class="item-button"
      mat-raised-button
      color="primary">
      more...
    </button>
    <button
      (click)="deleteCustomItem(searchItem.id.videoId)"
      class="delete-button"
      mat-fab
      *ngIf="searchItem.isCustom">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      [ngClass]="(isFavoriteItem(searchItem.id) | async) ? 'fav-active': ''"
      *ngIf="!searchItem.isCustom"
      (click)="addToFavorite(searchItem.id)"
      type="button"
      mat-icon-button
      color="warn">
      <mat-icon color="primary" class="fav-icon">favorite</mat-icon>
    </button>
  </div>
  <div class="item-border" [appColoredBorder]="searchItem.snippet.publishedAt"></div>
</mat-card>
